@{
    ViewBag.Title = "Lỗi truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string controller = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

<script>
    alert("Bạn không có quyền truy cập !!!");
</script>
<div class="alert alert-danger">
    Bạn không có quyền truy cập.
</div>

@Html.ActionLink("Thử đăng nhập lại","Index","Login") | 
@Html.ActionLink("Quay về","Index", controller)