
table {
	margin: 30px auto;
	
	border-collapse: collapse; 
	border-spacing: 0;
    box-shadow: 20px 10px 5px #ccc; /*tạo hiệu ứng bóng râm (horizontal offset, vertical offset, blur)*/
}

td.company_name {
	text-align: left;
	width: 120px;
}

td.model_name {
	text-align: center;
	width: 150px;

}

td.price {
	text-align: right;
	width: 100px;
}

/* 
    Very Light Gray Colors:
    http://www.color-hex.com/color/d3d3d3
 */
td 
{
	height: 30px;	
	background:#f1f1f1;
}

th {
	/* background: #328aa4 url(tr_back.gif) repeat-x; */
    background: #222222;
	color:#fff;
}

th, td {
		border: 1px solid #fff;
		padding: 3px;
}

table th a {
    color: white;
}